body {
    margin: 0 auto;
    padding: 0 auto;
}

.cart {
    position: absolute;
    z-index: 1;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 10px 15px;
    top: 70px;
    right: 30px;
  }
  .cart-item {
    margin-bottom: 10px;
  }