<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project #1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="stiles.css">

</head>

<body>
    <div id='main'>
        <header>
            <nav>
                <ul class="list">
                    <li class="list-item"><a href="#" class="item-link">list-item#1</a></li>
                    <li class="list-item"><a href="#" class="item-link">list-item#2</a></li>
                    <li class="list-item"><a href="#" class="item-link">list-item#3</a></li>
                </ul>
                <input class="search-input" v-model="search" type="search" placeholder="Поиск">
                <button class="basket" v-on:click="toBasket">Basket</button>
            </nav>
        </header>

        <section class="basket-block" v-if="show">
            <p class="total">Общая сумма вашего заказа: {{totalPrice}}$</p>
            <div class="basket-item" v-for='item in basket'>
                <h4 class="title basket-title">{{item.product_name}}</h4>
                <p>${{item.price}}</p>
            </div>
        </section>

        <section class="products">
            <div class="item" v-for='item in filtered'>
                <h4 class="title">{{item.product_name}}</h4>
                <p>${{item.price}}</p>
                <button class="buy" v-on:click="() => addItem(item)"> Buy </button>
            </div>
            <div class="no-product" v-if="filtered.length === 0">Нет товаров</div>
        </section>

    </div>

</body>

</html>