nav {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightskyblue;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.list {
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.item-link {
    text-decoration: none;
    color: lightgray;
}

.item-link:hover {
    text-decoration: underline;
    color: gray;
}

.basket {
    font-size: 20px;
    background-color: lightskyblue;
    padding: 5px 15px;
    height: 35px;
    align-self: center;
}

.products {
    padding-top: 50px;
    width: 900px;
    margin: 0 auto;
    display: grid;
    float: left;
    grid-template-columns: 1fr 1fr;
}

.item {
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.title {
    text-transform: uppercase;
}

.buy,
.del,
.total-buy {
    padding: 10px 20px;
    border: 3px solid transparent;
    background-color: lightskyblue;
    border-radius: 5px;
}

.buy:hover {
    border: 3px solid blue;
    box-sizing: border-box;
}

#basket {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.basket-block {
    padding: 15px;
    border-radius: 10px;
    background-color: lightblue;
    box-sizing: border-box;
    width: 300px;
    float: right;
    margin-top: 50px;
}

.basket-item {
    display: flex;
    align-items: center;
}

.basket-title {
    margin-right: 20px;
}
